body {
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: dodgerblue;
    color: white;
    padding: 16px; 
}

#logo {
    padding-left: 16px;
}

#logo, #header_navigation {
    display: inline-block
}

#header_navigation {
    float: right;
    padding: 16px;
}

#header_navigation nav ul li {
    display: inline-block;
}

#header_navigation nav ul li a {
    color: white;
}

body > main {
    padding-left: 100px;
}

#login_and_categories {
    padding-right: 16px;
    float: left;
    padding-bottom: 250px;
}
 #latest {
     padding: 16px;
     
 }

body > footer {
    background-color: dodgerblue;
    color: white;
    padding: 16px; 
    text-align: center;
}

body > main > form >input {
    height: 100px;
    width:max-content;
}

#buttom {
    height: 30px;
    float: right;
}
